<!-- Banner -->
<center>
	<header class="height: 500px">
		<h2>Idea Box</h2>
		<p>Don't validate that idea alone... Get a review.</p>
	</header>
	<!--<span class="image"><img src="images/pic01.jpg" alt="" /></span>-->
</center>

